:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: rgb(16, 29, 44);
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}
*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    overflow-x: auto;
}
body{
    font-size: 62.5%;
}
.main-grid{
    display: grid;
    grid-template-columns: 5rem 1fr repeat(6, 10rem) 1fr;
    grid-template-rows: 80vh minmax(5rem, 1fr)  minmax(min-content, 20rem)  minmax(min-content, 200vh)  minmax(min-content, 20rem) 40vh;
}
/* NAVBAR  START*/
.main-navbar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: var(--color-primary) ;
}
.fa-5x{
    position: relative;
    top: 2.5rem;
    left: 2rem;
}
/* NAVBAR ENDS */
/* HEADER SECTION START */
.main-header{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: linear-gradient(to right, rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.8)) ,url("https://demo-playnexter.netlify.app/img/hero.jpeg");
    background-size: 40% 40% cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 39rem 1fr;
    grid-template-rows: 2rem 5rem 2rem 5rem 4rem 3rem 2rem 1fr;
}
.logo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.logo-img{
    width: 8rem;
    height: 3rem;
    position: absolute;
    left: 30%;
}
.own-home{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.home-head{
    color: var(--color-primary);
    font-weight: lighter;
    font-size: 165%;
}
.per-fre{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.per-para{
    color: var(--color-grey-light-1);
    font-size: 2rem;
}
.btn-view{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.btn-para{
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    font-size: 1.3rem;
    width: 15rem;
    color: var(--color-grey-light-1);
    font-weight: lighter;
}
.seen-on{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}
.seen-para{
    text-align: center;
    color: var(--color-grey-light-1);
    font-size: 1.3rem;
    text-decoration-line: unset;
}
.logos{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}
.logos-img{
    width: 9.2rem;
    height: 92%;
    padding-right: 1rem;
}
/*  Realtor Section Start */
.main-realtors{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: 1fr 5rem 5rem 1fr;
    grid-template-rows: 20vh repeat(3, 13vh);
}
.realtors-head{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--color-grey-light-1);
    font-size: 2rem;
    text-align: center;
}
.realtors-img1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid transparent;
    border-radius: 100%;
}
.realtors-img1>img{
    width: 4rem;
    height: 4rem;
}
.realtors-text1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--color-grey-light-1);
}
.realtors-img2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid transparent;
    border-radius: 100%;
}
.realtors-img2>img{
    width: 4rem;
    height: 4rem;
}
.realtors-text2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    color: var(--color-grey-light-1);
}
.realtors-img3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid transparent;
    border-radius: 100%;
}
.realtors-img3>img{
    width: 4rem;
    height: 4rem;
}
.realtors-text3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    color: var(--color-grey-light-1);
}

.main-services{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30vh);
    gap: 5rem 2rem;
    padding-top: 7rem;
}
.services-head{
    font-weight: 900;
}
.services-para{
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 1rem;
}

.main-goals{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("https://demo-playnexter.netlify.app/img//back.jpg");
  background-size: auto, auto;
background-size: 100% 100%, cover;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
position: relative;
}
.goalsCenter {
    
    width: 60%;
    height: 50%;
    
}
.goalsOut {
    width: 50%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
  }
.main-story{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
flex-flow: column;
justify-content: center;
align-items: flex-start;
padding: 3rem 8rem;
background: var(--color-grey-light-1);
}
.main-story p {
    font-size: 1.3rem;
    font-family: var(--font-displays);
    color: var(--color-primary);
    margin-bottom: 2rem;
  }
.main-story h1 {
    font-size: 1.2rem;
    font-family: var(--font-primary);
    color: var(--color-grey-dark-1);
    margin-bottom: 2rem;
    font-style: italic;
}
.main-story .contentStory {
    font-size: 1rem;
    font-family: var(--font-primary);
    color: var(--color-grey-dark-2);
    margin-bottom: 3rem;
    font-weight: lighter;
    line-height: 2.3rem;
    font-style: italic;
  }
  .main-story h3 {
    font-size: 1rem;
    font-family: var(--font-display);
    color: white;
    font-weight: lighter;
    line-height: 2.3rem;
    background: var(--color-primary);
    justify-self: start;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: background 300ms ease-in-out;
  }
.main-homes{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100vh);
    margin: 8rem 0;
}
.home1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background: var(--color-grey-light-1);
    justify-items: center;
    align-items: center;
}
.home2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background: var(--color-grey-light-1);
    justify-items: center;
    align-items: center;
}
.home3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background: var(--color-grey-light-1);
    justify-items: center;
    align-items: center;
}
.home4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background: var(--color-grey-light-1);
    justify-items: center;
    align-items: center;
}
.home5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background: var(--color-grey-light-1);
    justify-items: center;
    align-items: center;
}
.home6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background: var(--color-grey-light-1);
    justify-items: center;
    align-items: center;
}
/* /* .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--color-grey-light-1);
    justify-items: center;
    align-items: center;
  } */
  .homeImg {
    /* grid-column: 1 / span 2; */
    background: lightcoral;
    position: relative;
    margin-bottom: 3.5rem;
    overflow-y: hidden;
  }
  .imgCommon {
    width: 100%;
    height: 80%;
  }
  .homeDetailBtn {
    background: black;
    color: white;
    font-size: 1.2rem;
    font-family: var(--font-display);
    width: 80%;
    padding: 1.5rem 0;
    position: absolute;
    bottom: -2rem;
    left: 10%;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
.contactRealtorBtn {
  background: var(--color-primary);
  justify-self: stretch;
  align-self: stretch;
  padding: 1.7rem;
  font-size: 1.2rem;
  font-family: var(--font-display);
  color: white;
  margin-top: 2rem;
} 
.homeInfo {
    font-size: 1rem;
    font-family: var(--font-display);
    color: var(--color-grey-dark-2);
}
.main-photogal{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
}
.main-footer{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
}
/* Photo Gallery Started */
.main-photogal{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 20vh);
    grid-gap: 1.5rem;
}
.gal-1{
    background: url("https://demo-playnexter.netlify.app/img/gal-1.jpeg") no-repeat center center/ cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gal-2{
    background: url("https://demo-playnexter.netlify.app/img/gal-2.jpeg") no-repeat center center/ cover;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gal-3{
    background: url("https://demo-playnexter.netlify.app/img/gal-3.jpeg") no-repeat center center/ cover;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gal-4{
    background: url("https://demo-playnexter.netlify.app/img/gal-4.jpeg") no-repeat center center/ cover;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gal-5{
    background: url("https://demo-playnexter.netlify.app/img/gal-5.jpeg") no-repeat center center/ cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}
.gal-6{
    background: url("https://demo-playnexter.netlify.app/img/gal-6.jpeg") no-repeat center center/ cover;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gal-7{
    background: url("https://demo-playnexter.netlify.app/img/gal-7.jpeg") no-repeat center center/ cover;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}
.gal-8{
    background: url("https://demo-playnexter.netlify.app/img/gal-8.jpeg") no-repeat center center/ cover;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
}
.gal-9{
    background: url("https://demo-playnexter.netlify.app/img/gal-9.jpeg") no-repeat center center/ cover;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}
.gal-10{
    background: url("https://demo-playnexter.netlify.app/img/gal-10.jpeg") no-repeat center center/ cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}
.gal-11{
    background: url("https://demo-playnexter.netlify.app/img/gal-11.jpeg") no-repeat center center/ cover;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
.gal-12{
    background: url("https://demo-playnexter.netlify.app/img/gal-12.jpeg") no-repeat center center/ cover;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}
.gal-13{
    background: url("https://demo-playnexter.netlify.app/img/gal-13.jpeg") no-repeat center center/ cover;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
}
.gal-14{
    background: url("https://demo-playnexter.netlify.app/img/gal-14.jpegss") no-repeat center center/ cover;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
}
/* FOOTER SECTION STARTED */
.main-footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 5rem;
    gap: 2rem 2rem;
    padding: 2rem;
    background-color: var(--color-secondary);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.footer1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer5{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer6{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer-para{
    padding: 50% auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link{
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;  
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    overflow-y: hidden;
}
.footer-link:hover{
font-weight: lighter;
background: rgba(255,255,255,0.1);
padding: 1rem;
text-transform: uppercase;
text-align: center;
transition: all 300ms ease-in-out;
cursor: pointer;
overflow: hidden;
}
.footer-end{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--color-grey-light-1);
    text-align: center;
    font-size: 0.8rem;
}